form {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.error {
	color: var(--form-element-invalid-border-color);
	margin-bottom: 0;
}

label {
	margin-bottom: 1rem;
}

:root {
	--font-size: 14px;
}

@media screen and (min-width: 576px) {
	:root {
		--font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	:root {
		--font-size: 16px;
	}
}

.btn-unset {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	width: unset;
}

.btn-unset:focus {
	box-shadow: none;
}
